@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body{
  background: white;
}
a{
  text-decoration: none;
  color: inherit;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background-color: white;
  justify-content: center;
  align-items: center;
  color: #212121;
  padding: 14px 25px;
  font-size: 16;
  border-radius: 30px;
  cursor: pointer;
  bottom: 0;
  outline: 0;
  display: inline-flex;
}
.dark-btn{
background: #212ea0;
color: white;
}
.btn img{
  width: 20px;
  margin-left: 10px;
}
